body{
    overflow: auto;
}
img{
    max-width: 25%;
    height: auto;
    background-color: lightblue;
    background: radial-gradient(white 30%, black 70%);
}
.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}
#mlogo{
    max-width: 60px;
    width: 40px;
}